In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("play.csv")
df

     Outlook  Temperature  Humidity  Windy Play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        78  False  yes
3       rain           70        96  False  yes
4       rain           68        80  False  yes
5       rain           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9       rain           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13      rain           71        80   True   no

In [3]:
df_temp=df[['Temperature','Play']]

In [4]:
df_temp_sorted=df_temp.sort_values('Temperature',ignore_index=True)
df_temp_sorted

    Temperature Play
0            64  yes
1            65   no
2            68  yes
3            69  yes
4            70  yes
5            71   no
6            72   no
7            72  yes
8            75  yes
9            75  yes
10           80   no
11           81  yes
12           83  yes
13           85   no

In [5]:
import math
yes=len(df.loc[df['Play']=='yes'])
no=len(df.loc[df['Play']=='no'])
entropy=-1*(yes/(yes+no)*math.log(yes/(yes+no),2) + no/(yes+no)*math.log(no/(yes+no),2))
print(entropy)

0.9402859586706309

In [6]:
gain_ratio_values=[]
for i in range(0,13):
    lt_yes=len(df_temp_sorted.loc[np.logical_and(df_temp_sorted['Temperature']<=df_temp_sorted.iloc[i,0],df_temp_sorted['Play']=='yes')])
    lt_no=len(df_temp_sorted.loc[np.logical_and(df_temp_sorted['Temperature']<=df_temp_sorted.iloc[i,0],df_temp_sorted['Play']=='no')])
    gt_yes=len(df_temp_sorted.loc[np.logical_and(df_temp_sorted['Temperature']>df_temp_sorted.iloc[i,0],df_temp_sorted['Play']=='yes')])
    gt_no=len(df_temp_sorted.loc[np.logical_and(df_temp_sorted['Temperature']>df_temp_sorted.iloc[i,0],df_temp_sorted['Play']=='no')])
    lt_entropy=-1*((lt_yes/(lt_yes+lt_no))*math.log2((lt_yes if lt_yes!=0 else (lt_yes+lt_no))/(lt_yes+lt_no))+(lt_no/(lt_yes+lt_no))*math.log2((lt_no if lt_no!=0 else (lt_yes+lt_no))/(lt_yes+lt_no)))
    gt_entropy=-1*((gt_yes/(gt_yes+gt_no))*math.log2((gt_yes if gt_yes!=0 else (gt_yes+gt_no))/(gt_yes+gt_no))+(gt_no/(gt_yes+gt_no))*math.log2((gt_no if gt_no!=0 else (gt_yes+gt_no))/(gt_yes+gt_no)))
    avg_info_ent=(lt_yes+lt_no)/(lt_yes+lt_no+gt_yes+gt_no)*lt_entropy+(gt_yes+gt_no)/(lt_yes+lt_no+gt_yes+gt_no)*gt_entropy
    info_gain=entropy-avg_info_ent
    split_info=-1*((lt_yes+lt_no)/(lt_yes+lt_no+gt_yes+gt_no)*math.log2((lt_yes+lt_no)/(lt_yes+lt_no+gt_yes+gt_no))+(gt_yes+gt_no)/(lt_yes+lt_no+gt_yes+gt_no)*math.log2((gt_yes+gt_no)/(lt_yes+lt_no+gt_yes+gt_no)))
    gain_ratio=info_gain/split_info
    a=[]
    a.append(df_temp_sorted.iloc[i,0])
    a.append(gain_ratio)
    gain_ratio_values.append(a) 
threshold_temp=sorted(gain_ratio_values, key=lambda x: x[1],reverse=True)[0][0]
print(threshold_temp)

83

In [7]:
for i in range(len(df)):
    if int(df.iloc[i,1])>int(threshold_temp):
        df.iloc[i,1]='True'
    else:
        df.iloc[i,1]='False'
df

     Outlook Temperature  Humidity  Windy Play
0      sunny        True        85  False   no
1      sunny       False        90   True   no
2   overcast       False        78  False  yes
3       rain       False        96  False  yes
4       rain       False        80  False  yes
5       rain       False        70   True   no
6   overcast       False        65   True  yes
7      sunny       False        95  False   no
8      sunny       False        70  False  yes
9       rain       False        80  False  yes
10     sunny       False        70   True  yes
11  overcast       False        90   True  yes
12  overcast       False        75  False  yes
13      rain       False        80   True   no

In [8]:
df_hum=df[['Humidity','Play']]

In [9]:
df_hum_sorted=df_hum.sort_values('Humidity',ignore_index=True)
df_hum_sorted

    Humidity Play
0         65  yes
1         70   no
2         70  yes
3         70  yes
4         75  yes
5         78  yes
6         80  yes
7         80  yes
8         80   no
9         85   no
10        90   no
11        90  yes
12        95   no
13        96  yes

In [10]:
gain_ratio_values_hum=[]
for i in range(0,13):
    lt_yes=len(df_hum_sorted.loc[np.logical_and(df_hum_sorted['Humidity']<=df_hum_sorted.iloc[i,0],df_hum_sorted['Play']=='yes')])
    lt_no=len(df_hum_sorted.loc[np.logical_and(df_hum_sorted['Humidity']<=df_hum_sorted.iloc[i,0],df_hum_sorted['Play']=='no')])
    gt_yes=len(df_hum_sorted.loc[np.logical_and(df_hum_sorted['Humidity']>df_hum_sorted.iloc[i,0],df_hum_sorted['Play']=='yes')])
    gt_no=len(df_hum_sorted.loc[np.logical_and(df_hum_sorted['Humidity']>df_hum_sorted.iloc[i,0],df_hum_sorted['Play']=='no')])
    lt_entropy=-1*((lt_yes/(lt_yes+lt_no))*math.log2((lt_yes if lt_yes!=0 else (lt_yes+lt_no))/(lt_yes+lt_no))+(lt_no/(lt_yes+lt_no))*math.log2((lt_no if lt_no!=0 else (lt_yes+lt_no))/(lt_yes+lt_no)))
    gt_entropy=-1*((gt_yes/(gt_yes+gt_no))*math.log2((gt_yes if gt_yes!=0 else (gt_yes+gt_no))/(gt_yes+gt_no))+(gt_no/(gt_yes+gt_no))*math.log2((gt_no if gt_no!=0 else (gt_yes+gt_no))/(gt_yes+gt_no)))
    avg_info_ent=(lt_yes+lt_no)/(lt_yes+lt_no+gt_yes+gt_no)*lt_entropy+(gt_yes+gt_no)/(lt_yes+lt_no+gt_yes+gt_no)*gt_entropy
    info_gain=entropy-avg_info_ent
    split_info=-1*((lt_yes+lt_no)/(lt_yes+lt_no+gt_yes+gt_no)*math.log2((lt_yes+lt_no)/(lt_yes+lt_no+gt_yes+gt_no))+(gt_yes+gt_no)/(lt_yes+lt_no+gt_yes+gt_no)*math.log2((gt_yes+gt_no)/(lt_yes+lt_no+gt_yes+gt_no)))
    gain_ratio=info_gain/split_info
    a=[]
    a.append(df_hum_sorted.iloc[i,0])
    a.append(gain_ratio)
    gain_ratio_values_hum.append(a) 
threshold_hum=sorted(gain_ratio_values_hum, key=lambda x: x[1],reverse=True)[0][0]
print(threshold_hum)

65

In [11]:
for i in range(len(df)):
    if int(df.iloc[i,2])>int(threshold_hum):
        df.iloc[i,2]='True'
    else:
        df.iloc[i,2]='False'
df

     Outlook Temperature Humidity  Windy Play
0      sunny        True     True  False   no
1      sunny       False     True   True   no
2   overcast       False     True  False  yes
3       rain       False     True  False  yes
4       rain       False     True  False  yes
5       rain       False     True   True   no
6   overcast       False    False   True  yes
7      sunny       False     True  False   no
8      sunny       False     True  False  yes
9       rain       False     True  False  yes
10     sunny       False     True   True  yes
11  overcast       False     True   True  yes
12  overcast       False     True  False  yes
13      rain       False     True   True   no

In [12]:
def find_entropy(df):
    Class=df.keys()[-1]
    outcomes=df[Class].unique()
    entropy=0
    for outcome in outcomes:
        prob=len(df[Class][df[Class]==outcome])/len(df)
        entropy+=-(prob*np.log2(prob+1e-10))
    return entropy

In [13]:
entropy_system=find_entropy(df)
print(entropy_system)

0.9402859583820921

In [14]:
def find_avg_info_entropy(df,attribute):
    Class=df.keys()[-1]
    outcomes=df[Class].unique()
    attribute_values=df[attribute].unique()
    avg_entropy=0
    for val in attribute_values:
        entropy_subsample=0
        for value in outcomes:
            num=len(df[attribute][df[attribute]==val][df[Class]==value])
            den=len(df[attribute][df[attribute]==val])
            prob=num/den
            entropy_subsample+=-(prob*np.log2(prob+1e-10))
        weight=den/len(df)
        avg_entropy+=weight*entropy_subsample
    return avg_entropy

In [15]:
find_avg_info_entropy(df,'Outlook')

0.6935361386488728

In [16]:
def find_info_gain(df,attribute):
    info_gain=find_entropy(df)-find_avg_info_entropy(df,attribute)
    return info_gain

In [17]:
find_info_gain(df,'Outlook')

0.2467498197332193

In [18]:
def find_split_info(df,attribute):
    attribute_values=df[attribute].unique()
    split_info=0
    for val in attribute_values:
        num=len(df[attribute][df[attribute]==val])
        den=len(df[attribute])
        prob=num/den
        split_info+=prob*np.log2(prob+1e-10)
    return -1*split_info

In [19]:
find_split_info(df,'Outlook')

1.577406282419537

In [20]:
def find_winner(df):
    GR=[]
    for key in df.keys()[:-1]:
        GR.append(find_info_gain(df,key)/find_split_info(df,key))
    return df.keys()[:-1][np.argmax(GR)]

In [21]:
find_winner(df)

'Temperature'

In [22]:
def subsample(df,attribute,value):
    return df[df[attribute]==value].reset_index(drop=True).drop([attribute],axis=1)

In [23]:
def build_tree(df,tree=None):
    if len(df.keys())==1:
      return
    Class=df.keys()[-1]
    attribute=find_winner(df)
    if tree is None:
        tree={}
        tree[attribute]={}
    attr_values=df[attribute].unique()
    for value in attr_values:
        sub=subsample(df,attribute,value)
        ClValue,counts=np.unique(sub[Class],return_counts=True) 
        # print(ClValue,counts)       
        if(len(counts)==1):
            tree[attribute][value]=ClValue[0]
        else:
            tree[attribute][value]=build_tree(sub)
    return tree

In [24]:
build_tree(df)

{'Temperature': {'True': 'no',
  'False': {'Outlook': {'sunny': {'Humidity': {'True': {'Windy': {True: None,
        False: None}}}},
    'overcast': 'yes',
    'rain': {'Windy': {False: 'yes', True: 'no'}}}}}}

In [25]:
#Using Gain ratio find best two attributes that decide play attribute
first_attr=find_winner(df)
second_attr=find_winner(df.drop([first_attr],axis=1))
print(first_attr,second_attr)

Temperature Outlook

In [26]:
df1=df[['Outlook','Play']]
df1

     Outlook Play
0      sunny   no
1      sunny   no
2   overcast  yes
3       rain  yes
4       rain  yes
5       rain   no
6   overcast  yes
7      sunny   no
8      sunny  yes
9       rain  yes
10     sunny  yes
11  overcast  yes
12  overcast  yes
13      rain   no

In [27]:
from scipy.stats import chi2
def chi_square(df1):
    outlook_attrs=df1['Outlook'].unique()
    Class=df1['Play'].unique()
    table=pd.DataFrame(columns=Class, index=outlook_attrs)
    for value in outlook_attrs:
        for value1 in Class:
            n=len(df1['Outlook'][df1['Outlook']==value][df1['Play']==value1])
            table.loc[value][value1]=n
    table['total_rows']=table.sum(axis=1)
    table.loc['total_cols']=table.sum(axis=0)
    O=[]
    E=[]
    total=table.loc['total_cols']['total_rows']
    for value in outlook_attrs:
        for value1 in Class:
            O.append(table.loc[value][value1])
            p1=table.loc['total_cols'][value1]/total
            p2=table.loc[value]['total_rows']/total
            p=p1*p2
            E.append(total*p)
    O=np.array(O)
    E=np.array(E)
    diff=O-E
    Square_diff=diff*diff
    f_vals=Square_diff/E
    Chi_sq_val=sum(f_vals)
    dof=(len(outlook_attrs)-1)*(len(Class)-1)
    alpha=0.05
    critical_val=chi2.ppf(1-alpha,dof)
    if Chi_sq_val<critical_val:
        print('Play does not depend on Outlook')
    else:
        print('Play depends on Outlook')

In [28]:
chi_square(df1)

Play does not depend on Outlook